<% extend('../partials/template') %>
    <h2>
        <%= title %>
    </h2>



    <p> id =
        <%=data.fisk_id%>
    </p>

    <p>
        navn =
        <%= data.fisk_navn %>

    </p>

    <p>køn =
        <%=data.fisk_koen%>
    </p>
    <p>farve =
        <%=data.farve_navn%>
    </p>