<% extend('../partials/template') %>
    <h2>
        <%= title %>
    </h2>

<div class="col-xs-6">

<h3><%=formtype%></h3>

    <form id="form" method="post">

        <label for="navn">Navn</label>

        <input type="text" name="navn" value="<%=fisk.fisk_navn %>">

        <select name="farve">
            <option>Vælg</option>

    <% (farver || []).forEach(element =>{ %>

            <option value="<%=element.farve_id %>" <%= (element.farve_id==fisk.farve_id? "selected":"") %> > <%=element.farve_navn %> </option>

    <% }) %>
        </select>

        <label for="han">Han</label>

        <input type="radio" name="koen" value="han" id="han"  <%= (fisk.fisk_koen=="han"? "checked":"") %> >

        <label for="hun">Hun</label>

        <input type="radio" name="koen" value="hun" id="hun" <%= (fisk.fisk_koen=="hun"? "checked":"") %> >

        <button>Ret/Tilføj</button>
        <a href="/admin/fisk">Anuller</a>

    </form>

<script>
document.querySelector('#form button').addEventListener('click', (event)=>{
   event.preventDefault();

    let form_valid = true;

   let form = document.querySelector('#form');
   // her foretages valideringen som normalt.

   if(form.navn.value == ""){
form_valid = false;
   }
    if(form.farve.value == ""){
form_valid = false;
   }
    if(form.koen.value == ""){
form_valid = false;
   }
if(form_valid == true){
   // når valideingen er ok, sendes form data
   form.submit();
   }
})
</script>
    
</div>

<div class="col-xs-6">

<% if(data.length>0) { %>
    <table>
        <th>Id</th>
        <th>Navn</th>
        <th>Farve</th>
        <th>Køn</th>

        <% (data || []).forEach(element =>{ %>
            <tr>
                <td>
                    <%=element.fisk_id%>
                </td>
                <td>
                    <%=element.fisk_navn%>
                </td>
                <td>
                    <%=element.farve_navn%>
                </td>
                <td>
                    <%=element.fisk_koen%>
                </td>
                <td>
                    <button><a href="/admin/fisk/ret/<%=element.fisk_id%>">Ret</a></button>
                </td>
                <td>
                    <button><a href="/admin/fisk/slet/<%=element.fisk_id%>" onClick="return confirm('Er du sikker???')">Slet</a></button>
                </td>
            </tr>

            <% }) %>
    </table>

 <% } %>

    </div>